body {
  font-size: 16px;
  background-color: rgb(231, 210, 210);
  margin: 0px;
  padding: 0px;
}

h1 {
  color: rgb(15, 231, 131);
  font-size: 35px;
}

h2 {
  color: rgb(68, 139, 167);
  font-size: 24px;
}

h3 {
  color: rgb(109, 131, 161);
  font-size: 18px;
}

p {
  font-size: 16px;
  color: black;
}


header {
  background-color: rgb(31, 99, 99);
  padding: 20px;
  margin-bottom: 15px;
}

nav {
  background-color: rgb(41, 10, 70);
  padding: 20px;
  margin:20px 0px;
  font-size: 20px;
}

/* DESCENDANT SELECTOR — targets <a> tags that's only inside <nav> */
nav a {
  color: rgb(77, 55, 219);
}


section {
  background-color: rgb(112, 45, 94);
  margin: 10px;
  padding: 10px;
  border: 10px solid gray;
}

/*id*/
#media-section {
  background-color: rgb(21, 21, 142);
}

.sectiona {
  background-color: rgb(62, 113, 100);
}

table {
  margin-top: 10px;
  background-color: white;
}

th {
  background-color: rgb(105, 159, 159);
  color: white;
  padding: 8px;
  font-size: 16px;
}

td {
  padding: 8px;
  font-size: 16px;
}


img {
  border: 2px solid gray;
  margin: 10px 0;
}


article {
  background-color: rgb(140, 58, 69);
  padding: 15px;
  margin: 15px;
}

aside {
  background-color: rgb(229, 208, 125);
  padding: 15px;
  margin: 15px;
}


footer {
  background-color: teal;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
  font-size: 14px;
}

footer a {
  color: white;
}